# data artifact
data/*
!data/.gitkeep
*.csv
!outputs/*.csv
*.json

# notebooks checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# python cache
__pycache__/
*.pyc

# figures
*.png
*.jpg
*.pdf

# sqlite db
*.db